---
import Layout from "@/layouts/Layout.astro";

const title = "404 - page not found";
---

<Layout
	title={title}
	classContainer="grid place-content-center"
	description="Page not found. It may have been removed or moved."
>
	<h1
		class="text-5xl tracking-tight text-center self-center font-bold"
		data-i18n="notFound.title"
	>
		{title}
	</h1>
</Layout>
