---
import AllLang from "@/components/AllLang.astro";
import LinksNav from "@/components/LinksNav.astro";
import MainText from "@/components/MainText.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
const centers = (await getCollection("centers")).length;
---

<Layout title="" description="">
	<main class="space-y-12">
		<MainText />
		<LinksNav />
		<p class="text-primary/50 text-xs">
			<span data-i18n="home.intro.prefix">Introducing</span>
			<a
				href="/list"
				class="font-medium text-link underline decoration-link-decoration underline-offset-4 transition hover:decoration-link"
				data-i18n="home.intro.link"
				data-i18n-values={JSON.stringify({ count: centers })}
			>
				a list of {centers} centers
			</a>
			<span data-i18n="home.intro.suffix">
				where you can learn more about culture and languages, and find friends and relatives in
				other cities and countries.
			</span>
		</p>
		<AllLang />
	</main>

	<!-- <QList /> -->
</Layout>
