:root[data-accent="blue"] {
  --color-accent: #4F63DC;
  --color-accent-foreground: #FBF9FD;
  --color-accent-vivid: #596FFA;
  --color-accent-glow: #8AA1FF;
}

:root.dark[data-accent="blue"] {
  --color-accent: #7A9FFF;
  --color-accent-foreground: #090211;
  --color-accent-vivid: #83A6FF;
  --color-accent-glow: #B2C9FF;
}
