:root[data-accent="default"] {
  --color-accent: #1F1C21;
  --color-accent-foreground: #FBF9FD;
  --color-accent-vivid: #1F1C21;
  --color-accent-glow: #9C97A0;
}

:root.dark[data-accent="default"] {
  --color-accent: #EFECF2;
  --color-accent-foreground: #090211;
  --color-accent-vivid: #EFECF2;
  --color-accent-glow: #A09CA3;
}
