:root[data-accent="green"] {
  --color-accent: #00803A;
  --color-accent-foreground: #FBF9FD;
  --color-accent-vivid: #009143;
  --color-accent-glow: #58B772;
}

:root.dark[data-accent="green"] {
  --color-accent: #00BC5D;
  --color-accent-foreground: #111012;
  --color-accent-vivid: #00C361;
  --color-accent-glow: #6ADF8D;
}
