

:root[data-accent="pink"] {
  --color-accent: hsl(335 72% 49.1%);
  --color-accent-foreground: #FBF9FD;
  --color-accent-vivid: hsl(335 80% 54.5%);
  --color-accent-glow: hsl(335 88% 72%);
}

:root.dark[data-accent="pink"] {
  --color-accent: hsl(335 85% 67.5%);
  --color-accent-foreground: #090211;
  --color-accent-vivid: hsl(335 88% 67%);
  --color-accent-glow: hsl(335 92% 80%);
}
