:root[data-accent="pink"] {
  --color-accent: #D8006A;
  --color-accent-foreground: #FBF9FD;
  --color-accent-vivid: #F20077;
  --color-accent-glow: #FF7DA4;
}

:root.dark[data-accent="pink"] {
  --color-accent: #FF74AC;
  --color-accent-foreground: #090211;
  --color-accent-vivid: #FF81B2;
  --color-accent-glow: #FFBAD1;
}
