:root[data-accent="red"] {
  --color-accent: #DD0016;
  --color-accent-foreground: #FBF9FD;
  --color-accent-vivid: #F7001A;
  --color-accent-glow: #FF8175;
}

:root.dark[data-accent="red"] {
  --color-accent: #FF7A79;
  --color-accent-foreground: #111012;
  --color-accent-vivid: #FF8684;
  --color-accent-glow: #FFBBB8;
}
