---

---

<h1 class="relative select-none overflow-hidden">
	<div
		class="absolute bg-linear-to-br z-50 from-background/10 to-transparent dark:from-background/10 dark:to-transparent w-full h-full"
	>
	</div>
	<div
		class="flex flex-col *:tracking-tight *:md:tracking-[-3.8px] *:font-bold *:text-4xl *:sm:text-5xl *:md:text-6xl *:lg:text-7xl *:uppercase"
	>
		<span class="text-depth-100 blur-[3px]" data-i18n="home.hero.1">we</span>
		<span class="text-depth-200 blur-[2px]" data-i18n="home.hero.2">tatars</span>
		<span class="text-depth-300 blur-[1.5px]" data-i18n="home.hero.3">bashkirs</span>
		<span class="text-depth-400 blur-[1px]" data-i18n="home.hero.4">crimean tatars</span>
		<div class="space-x-3">
			<span class="text-depth-500 blur-[0.5px]" data-i18n="home.hero.5">everywhere.</span><span
				class="text-depth-600 blur-[0.4px]" data-i18n="home.hero.6">all around.</span
			>
			<span class="text-depth-700 blur-[0.3px]" data-i18n="home.hero.7">forever!</span>
		</div>
	</div>
</h1>
